

.presentation{
    padding: 10px;
    background-color: #242433;
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 40px 40px;
}

.img-about{
    margin: 20px;
    width: 86%;
    height: 400px;
    background-color: black;
}

.img-about img{
    width: 86%;
    height: auto;
    border-radius: 15px;
}


.presentation-text{
    margin: auto;
    width: 65%;
    border-radius: 0 0 0 20px;
}

.mapa-estrategico{
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.mision,
.vision{
    margin: 10px;
    border-radius: 20px;
    background-color: #9e0b0b;
    width: 50%;
}


@media (max-width: 750px) {

	.presentation-text{
        font-size: 12px;
    }

    .presentation{
        flex-direction: column;
    }
}