
.main-about{
    max-width: 1200px;
    margin: 50px auto;

}

.info-about{
    position: relative;
    z-index: 1;
    background-color: #0d0d17;
    padding: 40px;
}

.info-about::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/images/fondos/fondo-about.webp');
    opacity: 0.4;
    filter: grayscale(1);
    background-size: cover; /* Escalar la imagen para que cubra el contenedor, manteniendo la relación de aspecto */
    background-position: center; /* Centrar la imagen dentro del contenedor */
    background-repeat: no-repeat;
    z-index: -1;
}

.content-info-about {
    width: 80%;
    display: flex;
    margin: auto;
    align-self: center;
    background-color: #00000052;
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.texto-info-about{
    max-width: 500px;
    height: 300px;
    color: var(--color-fuente-claro);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto-info-about h1,
.texto-info-about p{
    width: 85%;
    padding: 0;
    margin: 0;
}

.texto-info-about h1{
    font-size: 50px;
}

.img-info-about{
    max-width: 300px;
}

.img-info-about img{
    width: 100%;
    
}

/*--------mision vision--------*/

.vision-mision {
    padding: 100px 0 0 0 ;
    width: 1100px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}

.vision-mision div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mision img,
.vision img {
    height: 150px;
    width: 150px;
    margin: auto;
}

.mision h2,
.vision h2 {
    font-size: 40px;
}

.mision p,
.vision p {
    max-width: 350px;
    margin: auto;
}


@media (max-width: 1100px) {

    .vision-mision{
        width: 800px;
    }

}

@media (max-width: 900px) {
    .vision-mision{
        width: 750px;
    }

}


@media (max-width: 750px) {

    .vision-mision{
        width: 325px;
    }

    .vision-mision {
        flex-direction: column;
        gap: 50px;
    }

    .mision p,
    .vision p {
        width: 325px;
        margin: auto;
    }
}