

/*-------------contenedor principal--------*/
.main-footer{  
	display: flex;
	flex-direction: column;
	min-height: 300px;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px -7px #000000;
}

hr {
	opacity: 0.2;
}

.secundary-footer{
	margin: 20px 20px 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #242433;
	border-radius: 15px;
}





/*-------------aditional--------*/
.aditional{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.marca{
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
	justify-content: center;
}

.logo-footer{
	height: 55px;
	margin: 5px;
	margin-bottom: 0;
	border: 0px solid #9e0b0b;
	border-radius: 0px 0px 40px 40px;
}

.marca p{
	width: 70%;
	font-size: 10px;
	font-style: italic;
	text-align: center;
}

.menu-footer{
	min-width:85%;
}

.menu-footer ul{
	display: flex;
	list-style-type: none;
    justify-content: space-between;
	padding: 0;		
  	align-items: flex-start;
	text-align: left;
}

.menu-footer li{
	font-size: 15px;
	display: flex;
	flex-direction: column;
	margin: 0 90px;
}

.menu-footer li a{
	font-size: 13px;
	padding: 5px;
	color: white;
	text-decoration: none;
}

/*-------------tooltips--------*/
.tooltips{
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconos-redes{
	filter: brightness(0) invert(1);
	height: 20px;
	margin: 10px;
}

.iconos-redes:hover{
	opacity: .7;
}

/*-------------copyright--------*/
.copyright{
	font-size: 12px;
	text-align: center;
	color: white;
	width: 100%;
	background-color: 1d1e29;
	margin-left: auto;
}







