

/*-------------contenedor principal--------*/
.main-footer{  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-shadow: 0px 0px 20px -7px #000000;
}

hr {
	opacity: 0.2;
}

.secundary-footer{
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 15px;
}


/*-------------aditional--------*/
.aditional{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.marca{
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
	justify-content: center;
	background-color: #17171fbe;
	border-radius: 15px;
}

.logo-footer{
	filter: brightness(0) invert(1);
	margin: 20px;
}

.logo-footer-pinlet{
	height: 25px;
}

.logo-footer-MS{
	height: 40px;
}

.logo-footer-pinlet{
	height: 25px;
}

.menu-footer{
	margin-left: 20px;
	display: flex;
    justify-content: space-between;
	padding: 0;		
  	align-items: flex-start;
	text-align: left;
}

.menu-footer ul{
	display: flex;
    justify-content: space-between;
	padding: 0;		
  	align-items: flex-start;
	text-align: left;
}

.menu-footer li{
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 200px;
	margin: 0 45px;
}

.menu-footer li a{
	font-size: 13px;
	padding: 5px;
	color: white;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-footer ul hr{
	margin: 0 0 10px 0;
	width: 200px;
}

.menu-footer ul hr,
.menu-footer ul h3{
	transform: translateX(-10px)
}

/*-------------tooltips--------*/

.tooltips{
	width: 200px;
	margin: 20px 0 0 35px;
}

.redes{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.iconos-redes{
	filter: brightness(0) invert(1);
	height: 30px;
	margin: 10px;
}

.icono-ubicacion{
	filter: brightness(0) invert(1);
	height: 15px;
}

.icono-whatsapp{
	transition: all 0.5s;
	height: 80px;
	position: fixed;
  	bottom: 40px; 
  	right: 40px;
  	z-index: 1000;
}

.icono-whatsapp:hover{
	height: 90px;
}


.iconos-redes:hover{
	opacity: .5;
}



/*-------------copyright--------*/
.copyright{
	display: flex;
	flex-direction: row;
	font-size: 11px;
	text-align: center;
	color: white;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


@media (max-width: 990px) {

	.marca{
		flex-direction: row;
	}

	.aditional{
		flex-direction: column;
	}
	
	.marca{
		margin: auto;
	}
    .secundary-footer{
		flex-direction: column;
	}

	.tooltips{
		min-width: 100%;
	}

	.redes{
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


@media (max-width: 768px) {


	.aditional{
		flex-direction: column;
	}

	.menu-footer{
		max-width: 800px;
		margin: auto;
	}

	.menu-footer ul{
		flex-direction: column;
		max-width: 800px;
		margin: auto;
	}

	.secundary-footer{
		width: 90%;
	}

	.copyright{
		display: flex;
		flex-direction: column;
	}

	.icono-whatsapp{
		height: 60px;
		position: fixed;
		  bottom: 20px; 
		  right: 20px;
		  z-index: 1000;
	}
	
}

