.main-header {
	min-height: 70px;
	box-shadow: 0px 0px 20px -7px #000000;
	align-items: center;
}

.secundary-header{
	margin: auto;
	width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/*--------branding--------*/

.branding {
	display: flex;
	align-items: center;
}

.logo {
	height: 55px;
	margin: 5px;
	border: 0px solid #9e0b0b;
	border-radius: 0px 0px 40px 40px;
}


.slogan {
	font-size: 18px;
}


/*--------------navegacion------------*/


.nav {
	display: flex;
	margin-left: 10%;
}

.menu-toggle {
	display: none;
	/* Oculto por defecto */
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.menu {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	list-style-type: none;
}

.menu li {
	flex: 1;
}

.menu a {
	font-size: 15px;
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
}

ul.menu li {
	max-width: 150px;
	padding: 10px 40px;
	transition: background-color 0.5s ease;
	border: 0px solid;
	border-radius: 5px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
		/* Mostrar el botón en dispositivos pequeños */
	}

	.menu {
		display: none;
		/* Ocultar el menú */
		flex-direction: column;
		width: 100%;

		.menu.open {
			display: flex;
		}
	}


	/* --------------HOVER----------------- */

}

ul.menu li:hover {
	background-color: #750808;
}