.main-header {
	min-height: 70px;
	align-items: center;
	background-color: inherit;
	color: var(--color-fuente);
}

.secundary-header{
	margin: auto;
	padding-top: 15px;
	max-width: 90%;
	width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*--------branding--------*/

.branding {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.logo {
	display: none;
	height: 55px;
	margin: 5px;
	border-radius: 0px 0px 40px 40px;
}

.name-marca{
	filter: var(--color-icono);
	height: 45px;
}





/*--------------navegacion------------*/


.main-navegation{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#menu-toggle {
	background-color: inherit;
	display: none;
	border: none;
	cursor: pointer;
	max-height: 40px;
	padding: 10px 0;
	width: 100px;
}

.icon-menu{
	filter: var(--color-icono);
}

.menu {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.menu a {
	font-size: 18px;
	color: var(--color-fuente);
	transition: color 0.5 ease;
	text-decoration: none;
	display: block;
	text-align: center;
	justify-items: center;
}

.menu li {
	width: 100px;
	transition: background-color 0.5s ease;
	border: 0px solid;
	border-radius: 5px;
	flex: 1;
	padding: 10px 0;
}

.menu li img{
	opacity: 0.5 ;
	height: 40px;
}




@media (max-width: 768px) {

	.logo{
		display: block;
	}

	.secundary-header{
		padding: 10px;
	}
	
	.main-navegation{
		width: 100px;
	}
	
	#menu-toggle {
		display: block;
	}

	.menu{
		flex-direction: column;
	}

	.menu li{
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		padding: 0;	
		transition: all 0.3s ease;
	}

	.menu.open li{
		max-height: 40px;
	}

	nav{
		transition: display 0.5s;
	}
}

@media (max-width: 400px) {

	.secundary-header{
		flex-direction: column;
		align-items: center;
	}

	.name-marca{
		display: none;
	}
}

/* --------------HOVER----------------- */


ul.menu li:hover {
	background-color: var(--color-representativo) ;
}

ul.menu li:hover a {
	color: #fff;
}
