.main-contact {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.top-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20PX;
}

.top-contact h1 {
    margin: 0;
    padding: 0;
}

@media (max-width: 750px) {
    .top-contact {
        flex-direction: column-reverse;
    }

}