.main-form-email {
    margin: auto;
    justify-content: center;
    

}

.container-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242433;
    border-radius: 40px;
    color: #fff;
}


.form-img {
    width: 100%;
    border-radius: 30px;
    justify-content: center;
}

.form-img  img{
    width: 90%;
    height: 90%;
    border-radius: 30px;
    margin: auto;
}



.container-form form{
    width: 95%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: end;
}


.container-form form label{
    font-size: 18px;
}

.container-form form button{
    font-size: 20px;
    margin: 15px;
    color: white;
    width: 20%;
    height: 50px;
    background-color: #9e0b0b ;
    border: none;
    border-radius: 10px;
}

.container-form form button:active{
    color: #9e0b0b;
    background-color: white ;
}

.container-form form div{

    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-form form div input{
    border: none;
    height: 30px;
    width: 100%;
    border-radius: 7px;
}

.container-form form div textarea{
    border: none;
    width: 100%;
    height: 100PX;
    border-radius: 15px;
}


.errorForm{
    width: 70%;
    background-color: #af2424;
    margin: auto;
    border: 2px solid var(--color-fondo-oscuro);
    border-radius: 10px;
}

@media(max-width: 850px){
    .container-form form{
        width: 450px;
    }
}

@media(max-width: 500px){

    .container-form form{
        width: 100%;
        padding: 10px;
        
    }

    .container-form form label{
        font-size: 15px;
    }

    .container-form form div input{
        border: none;
        width: 40%;
        border-radius: 7px;
    }
}

@media(max-width: 425px){

    .container-form form label{
        font-size: 13px;
    }

    .container-form form div input{
        border: none;
        height: 20px;
        width: 40%;
        border-radius: 7px;
    }
}


