.main-form-email{
    max-width: 910px;
    padding: 60px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-oscuro);
    margin: auto;
    border-radius: 30px;
    color: var(--color-fuente-claro);
}


.container-form-contact form{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-contact-img{
    max-width: 450px;
}

.form-contact-img img{
    width: 100%;

}

.contenedor-input-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.contenedor-input-contacto div{
    width: 100%;
}

.contenedor-input-contacto div input{
    width: 100%;
}


.contenedor-input-contacto div textarea{
    height: 75px;
    width: 100%;
}

.contenedor-input-contacto button{
    background-color: var(--color-representativo);
    border: none;
    width: 125px;
    height: 35px;
    color: var(--color-fuente-claro);
    border-radius: 20px;
}


.errorForm{
    color: red;
    font-size: 10px;
}

@media(max-width:750px){
    .container-form-contact form{
        flex-direction: column;
        gap: 20px;
    }
}
