.main-form-email {
    margin: auto;
    justify-content: center;
    
}

.container-form{
    width: 100%;
    justify-content: space-between;
    background-color: #242433;
    border-radius: 20px;
    color: #fff;
}

.container-form form{
    width: 765px;
    padding: 20px;
    justify-content: space-between;
}


.container-form form label{
    font-size: 18px;
}

.container-form form button{
    font-size: 20px;
    margin: 15px;
    color: white;
    width: 20%;
    height: 50px;
    background-color: #9e0b0b ;
    border: none;
    border-radius: 10px;
}

.container-form form button:active{
    color: #9e0b0b;
    background-color: white ;
}

.container-form form div{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-form form div input{
    border: none;
    height: 30px;
    width: 40%;
    border-radius: 7px;
}

.container-form form div textarea{
    border: none;
    width: 50%;
    height: 100PX;
    border-radius: 15px;
}


.errorForm{
    width: 70%;
    background-color: #af2424;
    margin: auto;
    border: 2px solid var(--color-fondo-oscuro);
    border-radius: 10px;
}

@media(max-width: 850px){
    .container-form form{
        width: 450px;
    }
}

@media(max-width: 500px){
    .container-form form{
        width: 350px;
    }

    .container-form form label{
        font-size: 15px;
    }

    .container-form form div input{
        border: none;
        height: 20px;
        width: 40%;
        border-radius: 7px;
    }
}

@media(max-width: 425px){
    .container-form form{
        width: 300px;
    }

    .container-form form label{
        font-size: 13px;
    }

    .container-form form div input{
        border: none;
        height: 20px;
        width: 40%;
        border-radius: 7px;
    }
}


