.main-map{
    width: 600px;
    height: 600px;
    align-content: center;
}

@media(max-width: 600px){
    .main-map{
        width: 400px;
        height: 400px;
        align-content: center;
    }
}


@media(max-width: 400px){
    .main-map{
        width: 350px;
        height: 350px;
        align-content: center;
    }
}

