.main-customers {
    max-width: 900px;
    margin: 50px auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
}

.main-customers h1{
    font-size: 25px;
}

.empresas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 15PX;
}

.logo-empresa {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: all 0.5s;
}

.logo-empresa:hover {
    background-color: #181822;
}


.logo-empresa a img {
    margin: 32.5px;
    width: 85px;
    height: 85px;
    border-radius: 10px;
}


@media (max-width: 768px) {

    .logo-empresa a img {
        margin: 12.5px;
        width: 50px;
        height: 50px;
    }

    .logo-empresa {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        transition: all 0.5s;
    }
}