.main-customers {
    color: var(--color-fuente-claro);
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, #FF5016 -75% ,  var(--color-representativo) 100%);

    padding-top: 40px;
    max-width: 100%;
    margin: auto;
}

.main-customers H1 {
    font-size: 60px;
}


.chunk-customers {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
}

.empresas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 15PX;
}

.logo-empresa {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #1818221c;
    align-content: center;
}

    

.logo-empresa .contenedor-logo-img img {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


@media (max-width: 768px) {

    .logo-empresa .contenedor-logo-img img {
        margin: 12.5px;
        width: 50px;
        height: 50px;
    }

    .logo-empresa {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        transition: all 0.5s;
    }
}