.main-description{
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 0px 20px -7px #000000;

}

.main-description::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/images/fondos/fondo2.jpg");
    opacity: 0.3; /* Ajusta este valor según lo que necesites */
    z-index: 0; /* Coloca el fondo detrás del contenido */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
    background-position: center;

}
.inicio{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo-inicio{
    margin-right: 10px;
    max-width: 100px;
    border-radius: 10px ;
}

.slogan-inicio{
    max-width: 200px;
    font-style: italic
}

.main-description .slick-slider{
    max-width: 750px;
    margin: 0;
    
}

.img-carousel-description{
    height:100%;
    width: auto;
    border-radius: 30px;
}

@media (max-width: 900px) {
    
    .main-description .slick-slider{
        margin: auto;
     }

    .main-description{
        flex-direction: column-reverse;
    }
}

@media (max-width: 500px) {

    
}