.main-description{
    background-color: #242433;
    max-width: 900px;
    height: 450px;
    margin: 50px auto 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    transform: translateX(-10px);
}

.img-inicio{
    max-width: 475px;
    transform: translateY(-10px);
    transform: translatex(-20);
}

.img-inicio img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 5px #00000091;
}

.inicio{
    margin: auto;
    display: flex;
    flex-direction: column;
}


.marca-inicio{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-inicio{
    margin-right: 10px;
    max-height: 60px;
    border-radius: 10px ;
}

.name-inicio{
    max-height: 100px;
}

.slogan-inicio{
    font-style: italic
}


@media (max-width: 768px) {

    .main-description{
        flex-direction: column-reverse;
        margin: 50px 20px 40px 20px;
    }

}