.main-deslizador{
    background-color: var(--color-representativo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deslizador-carousel{
    background-color: var(--color-fondo-oscuro);
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 450px;
    border-radius: 30px;
}

.sliderDeslizador{
    transform: translateY(-40px);
}

.deslizador-img{
    width: 400px;
}

.deslizador-img img{
    height: auto ;
    width: 100%;
}


.sliderDeslizador .slick-prev,
.sliderDeslizador .slick-next {
    background: none;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    z-index: 1;
}

.sliderDeslizador .slick-prev {
    bottom: 100%;
}

.sliderDeslizador .slick-next {
    top: 100%; 
}