.main-carousel-Services .slick-slider{
    max-width: 1000px;
    margin: auto;
}


.main-carousel-Services .slick-slide .img-carousel {
    margin: auto;
    display: block;
    width: 750px;
	border-radius: 15px;
}

.main-carousel-Services .slick-slide .img-carousel-nav {
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 20px;
}


.main-carousel-Services .slick-dots li button:before{
    color: #ac6868 ;
    font-size: 10px;
}


.main-carousel-Services .slick-prev,
.main-carousel-Services .slick-next {
  background-color: #ddd; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  color: black; 
  z-index: 1;
}



@media (max-width: 990px) {

    .main-carousel-Services .slick-slider{
        width: 90%;
        margin: auto;
    }
	
	.main-carousel-Services .slick-slide{
        border-radius: 15px;
    }
    
    
    .main-carousel-Services .slick-slide img {
        margin: auto;
        display: block;
        max-width: 90%;
        border-radius: 15px;
    }
}