.slick-slider{
    width: 75%;
    margin: auto;
}


.slick-slide .img-carousel {
    margin: auto;
    display: block;
    width: 750px;
	border-radius: 15px;
}

.slick-dots li button:before{
    color: #ac6868 ;
    font-size: 10px;
}

.slick-dots li.slick-active button:before {
    color:#fff;
}



@media (max-width: 990px) {

    .slick-slider{
        width: 90%;
        margin: auto;
    }
	
	.slick-slide{
        border-radius: 15px;
    }
    
    
    .slick-slide img {
        margin: auto;
        display: block;
        max-width: 90%;
        border-radius: 15px;
    }
}