

.main-sections{
    width: 100%;
}
/*----------section----*/
.section{
    padding: 80px 0;
}
.section-color1{
    background-color:  #1d1e29;
}

.section-color2{
    background-color: #292a35;
}


.section img{
    width: 500px;
    border-radius: 20px;
}
/*---------card-section-------*/
.card-section{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    position: static;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.card-section1{
    display: flex;
    flex-direction: row;
}

.card-section2{
    display: flex;
    flex-direction: row-reverse;
}



.card-section .text{
    width: 325px;
}

.text h1{
    font-size: 40px;
}

@media (max-width: 768px) {

    .section{
        padding: 40px 0;
    }

    .card-section {
        flex-direction: column;
    }
    
    .section img {
        width: 80%;
        margin-bottom: 20px;
    }

    .card-section .text {
        width: 70%;
        text-align: left;
    }
}